body{
  background: linear-gradient(145deg, #21dd21,rgb(235, 7, 204));
  color: lightcoral;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h1, p{
text-transform: capitalize;
font-weight: bold;
}

p{
  color: white;
}
#message-el{
  font-style: italic;
}

#startgame{
  width: 150px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-transform: capitalize;
  color: blue;
  background-color: aquamarine;
  border: solid green;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#startgame:hover{
text-transform: uppercase;
background-color: rgb(219, 23, 138);
color: white;
}

#newCard{
    width: 150px;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-transform: capitalize;
  color: blue;
  background-color: aquamarine;
  border: solid green;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#newCard:hover{
text-transform: uppercase;
background-color: rgb(219, 23, 138);
color: white;
}